let mapleader = " "

""" install plugins
Plug 'tpope/vim-surround'

""" set plugins
set visualbell
set noerrorbells
set easymotion
set surround
set which-key

""" common settings -------------------------
set showmode
set so=5
set incsearch
set number
set hlsearch
set ignorecase
set smartcase
set visualbell

""" idea specific settings ------------------
set ideajoin
set ideastatusicon=gray

""" mappings
nnoremap <SPACE> <Nop>
map s <Plug>(easymotion-s)
map <leader>t <Action>(SearchEverywhere)

map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>e <Action>(GotoNextError)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map <leader>c <Action>(Stop)
nmap gh <Action>(ShowHoverInfo)

""" refactoring mappings
map <leader>rr <Action>(RenameElement)
map <leader>rf <Action>(RefactoringMenu)
nmap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>




